<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <% @posts.each_with_index do |post, index| %>
  <%= link_to "[X]" , post, method: :delete, data: { confirm: 'Are you sure?' } %>  
  <%= link_to "[↶]" , "" %>  
  <%= index+1 %>.
  <%= post.name %> | 
  <%= post.content %> 
  <br>
  <% end %>
</p>

<h3>新規書き込み</h3>
<%= form_for @newpost, :url => posts_path do |f| %>
  <%= f.hidden_field :topic_id %>
  <p>お名前</p>
  <p><%= f.text_field :name %></p>
  <p>本文</p>
  <p><%= f.text_area :content %></p>
  <%= f.hidden_field :reply_id %>
  <%= f.submit %>
<% end %>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
